.naseej-btn {
    color: #fff;
    background-color: #a12226;
    border-color: #a12226;
    padding: 10px 40px;
    font-size: 16px;
    border-radius: 25px;
    margin-top: 10px;
}
.naseej-btn:hover {
    color: #fff;
}

.bg-white {
    background-color: #FFF;
    color: #a12226;
    border: 2px solid #a12226;
    padding: 5px 15px;
    margin-top: 17px;
}

.bg-white:hover {
    color: #a12226;
}