.carousel {
    .col-centered {
        float: none;
        margin: 0 auto;
    }

    .carousel-control.left,
    .carousel-control.right {
        margin-right: -90px;
        margin-left: -40px;
        background-image: none;
        opacity: 1;
    }

    .carousel-col {
        position: relative;
        min-height: 1px;
        padding: 5px;
        float: left;
    }

    .active>div:first-child {
        display: block;
    }

    .block {
        padding: 0;
        width: 250px;
        height: auto;
        border: 1px solid #bcbcbc;
        border-radius: 10px;

        .block-title {
            font-weight: bold;
            color: #231f20;
            font-size: 18px;
            line-height: 30px;
            padding: 0 15px 0 10px;
        }

        .block-text {
            padding: 0 15px 0 10px;
            color: #231f20;
            margin-bottom: 20px;
        }

        .block-footer {
            background-color: #e7e7e7;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;

            p {
                padding: 15px;

                a {
                    color: #a12226;
                }
            }

            .icons {
                margin-top: 14px;
                margin-right: 14px;
            }
        }

        .block-footer::after {
            content: "";
            clear: both;
            display: table;
        }

        &:hover {
            border: 1px solid #a12226;
            cursor: pointer;

            .block-title {
                color: #a12226;
            }

            .block-footer {
                background-color: #a12226;

                a {
                    text-decoration: underline;
                    color: #FFF;
                }
            }
        }
    }
}

.main-carousel {
    position: relative;
    padding-right: 75px;
    padding-left: 75px;
    overflow: hidden;

    .carousel-cell {
        margin: 5px;
    }

    .flickity-button {
        position: absolute;
        background: #FFF;
        border: 3px solid #ba6164;
    }

    .previous {
        top: 40%;
        right: 0;
    }

    .next {
        top: 40%;
        left: 0;
    }

    .flickity-button:hover {
        border: 3px solid #a12226;

        .flickity-button-icon {
            fill: #a12226;
        }
    }

    .flickity-prev-next-button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    /* icon color */
    .flickity-button-icon {
        fill: #ba6164;
        width: 20px;
        margin-top: 5px;
        margin-right: 5px;
    }
}